{% extends 'IRSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Проекти</h1>
    </div>
    <div class="row">
      {% for project in projects %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <span class="badge">{{ project.created_on }}</span>
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    <p>
                        <a href="{{ path('ir_site_projects_issue', {'projectId': project.id }) }}" class="btn btn-primary" role="button">Таски</a>
                        <a href="#comments" class="btn btn-default" role="button" onclick="App.commentsShow({id: {{project.id }}, name: '{{ project.name }}'})">Коментарі</a>
                    </p>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}